.title {
  margin: 0 0 var(--space-sm);
  font-size: var(--font-size-lg);
}

.description {
  margin: 0 0 var(--space-lg);
}

@media (min-width: 768px) {
  .title {
    font-size: var(--font-size-xl);
  }

  .description {
    margin-bottom: 32px;
  }
}
